main{
    max-width: 500px;
}


ul{ 
    list-style:none;
}

.news_img{
    width: 150px;
    height: 110px;
    object-fit:cover ;
    border-radius: 10px;
    margin-right: 10px;
}

.news_title{
    text-decoration:none;
}

.img_and_detail{
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:center;
    
}

.div_text{
    font-size:medium;
}

#time{
    font-size:x-large;
    font-weight: bolder;
}

#date{
    font-weight:lighter;
}

hr{
    margin: 30px 0;
}

#wed_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration:none;
}

#fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display:flex;
    justify-content:space-between;
}
    

#fixed a{
    
    padding: 10px;
    border-radius: 15px;
    text-decoration:none;
    color:white;
}

#top{
    margin-top: 0;
    padding-top : 50px
}

header{
    margin-top: 0;
}


footer{
    margin-bottom: 100px;
}

@media (prefers-color-scheme: light) {
    a {
        color:black;
    }
    .quoute{
        background-color: #263238;
        color : white;
        border-radius: 5px;
    }
    .move_top_bottom{
        background-color: rgba(32, 33, 36, 0.7);
    }
    .alreadyRead > .readBtn{
        color : gray;
    }
  }
@media (prefers-color-scheme: dark) {
    body{
        background-color: #202124;
    }
    a {
        color:white;
    }
    .quoute{
        background-color: #5111F3;
        color : white;
        font-weight: bold;
        border-radius: 5px;
    }
    .move_top_bottom{
        background-color: rgba(0, 0, 0, 0.7);
    }
    .alreadyRead > .readBtn{
        color : gray;
    }
    .readBtn {
        color : white;
    }
}


#update{
    font-size: small;
}


.readBtn {
    margin : 0;
    border: 0;
    padding : 2px;
    color : white;
    background-color: rgba(0, 0, 0, 0);


}


 
.alreadyRead > .img_and_detail{
    opacity: 0.1;
}


.alreadyRead > .div_text {
    display: none;
}

