
ul{ 
    list-style:none;
}

.news_img{
    width: 50%;
    border-radius: 10px;
}

.news_title{
    text-decoration:none;
    color : white;
}

code{
    background-color: #181818;
    font-size: large;
}

.quoute{
    background-color: #181818;
    border-radius: 5px;
}